html, body {
    height: 100%;
    margin: 0;
    font-family: "Arial", "Helvetica", sans-serif;
}

body {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

h1 {
    font-weight: lighter;
}

.background {
    background-image: linear-gradient(100deg, #c41163, #4b148c);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#messageForm {
    border-radius: 5px;
    background: transparent;
    width: 500px;
    padding: 10px;
    margin-bottom: 25px;
}

#messageForm p { font-weight: lighter; font-size: 1.2em; margin: 5px 0 25px 0;}

#messageForm input[type=text] {
    width: 200px;
    height: 20px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid white;
    color: white;
    margin-bottom: 30px;
    margin-top: 5px;
}

#messageForm input[type=text]:focus {
    border-bottom: 2px solid white;
    outline: none;
}

#messageForm input[type=submit] {
    width: 100px;
    height: 30px;
    background: rgba(255, 255, 255, 0.29);
    border-radius: 5px;
    border: none;
    color: white;
}

#messageForm input[type=submit]:hover {
    background: rgba(255, 255, 255, 0.59);
}

#messageForm textarea {
    width: 450px;
    min-width: 150px;
    max-width: 490px;
    height: 150px;
    min-height: 100px;
    max-height: 300px;
    margin: 10px 0 10px 0;
    background: rgba(255, 255, 255, 0.29);
    border-radius: 5px;
    border: none;
    color: white;
}

#messageForm textarea:focus {
    outline: 1px solid white;
}

#messagebox {
    max-width: 500px;
    min-width: 500px;
    background: rgba(255, 255, 255, 0.29);
    border: 1px solid rgba(255, 255, 255, 0.62);
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 0 10px 10px;
    color: white;
}

.name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 0 0 0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.53);
}

.message {
    font-size: 1.1em;
    word-wrap: normal;
}

.date {
    color: rgba(255, 255, 255, 0.78);
    font-size: 0.9em;
    font-style: italic;
    margin: 0;
}

.message_success {
    color: white;
    background: rgba(255, 255, 255, 0.29);
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
}

.message_failure {
    color: white;
    background: rgba(255, 21, 21, 0.29);
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
}

#userinfo {
    position: fixed;
    left: 10px;
    top: -5px;
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
}

#userinfo p {
    font-size: 1.2em;
}

#userinfo a {
    font-size: 0.9em;
    height: 20px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.29);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 5px;
}

#userinfo a:visited {
    text-decoration: none;
}

#userinfo a:hover {
    background: rgba(255, 255, 255, 0.59);
}
